In [6]:
# finding the customers are going to return the loan they took from the bank or not
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [19]:
balance_data = pd.read_csv('Decision_Tree_Dataset.csv')
# balance_data.iloc[0:2]

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes

In [13]:
# len(balance_data)

1000

In [14]:
# balance_data.shape

(1000, 6)

In [15]:
# balance_data.head()

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes
2  257  10129  109  3251  13746        yes
3  246  10064  324  3137  13771        yes
4  117  10115  496  3094  13822        yes

In [53]:
# Seperating the target variable
X = balance_data.values[:,:4]
Y = balance_data.values[:,5]
# Seperating the test and train data
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.35,random_state=100)
#Function to perform training with entropy
clf_entropy = DecisionTreeClassifier(criterion="entropy",random_state=100,max_depth=3,min_samples_leaf=5)
clf_entropy.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [90]:
# prediction
y_pred = clf_entropy.predict(x_test)
x_t[5]
# y_pred

array([237, 11197, 580, 3340], dtype=object)

In [87]:
print('Accuracy :')
accuracy_score(y_test,y_pred)*100

Accuracy :

94.28571428571428

In [91]:
abc = [237, 11197, 580, 3340]
clf_entropy.predict(x_test[])

array(['yes'], dtype=object)